language: python
python:
  - 3.6
env:
  - DJANGO_VERSION=1.11.5
install:
  - pip install -q Django==$DJANGO_VERSION
  - pip install -r requirements.txt
script:
  # - python manage.py test
  - coverage run manage.py test
  # - python functional_tests.py
after_success: coverage report